/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background: white;

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/

/* main background */
#background {
	background-repeat: no-repeat;
	position: absolute;
	width:100vw;
	height:100vh;
	background-size: 100vw 100vh;
}

.feature {
	width:100vw;
	height:100vh;
	background-size: 100vw 100vh;
}



/* animation for background of bar plot */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* background for svg bar plot */
.board {
	position: absolute;
	width: 74vw;
	height: 69vh;
	left: 25.5vw;
	top: 3vh;
	background: rgba(0, 0, 0, 0.5);
	animation: 500ms ease-out 0s 1 slideInFromTop;
	overflow: auto;
}

/* div to draw svg bar plot inside */
#graphic {
	position: absolute;
	margin-top: 3vh;
}

/* bar plot class */
.bar {
    fill: #5f89ad;
}

/* bar plot class */
.axis {
    font-size: 13px;
		color: white;
		font-weight: bold;
}

/* bar plot class */
.axis path,
.axis line {
    fill: none;
    display: none;
}

/* bar plot class */
.label {
    font-size: 13px;
}



/* animation for information bubbles */
@keyframes fadeInAndOut {
    0% {
			  display: none;
			  opacity: 0;
    }

		20% {
        display: block;
        opacity: 1;
    }

		80% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

/* animation bubble left */
#bubbleHistory {
    background-color: #F2F2F2;
		box-shadow: 0px 0px 6px #B2B2B2;
    border-radius: 5px;
    height: 8vh;
		width:  10vw;
    margin-top: 83.5vh;
		margin-left: -38vw;
		line-height: 8vh;
		text-align: center;
		position: absolute;
		opacity: 0;
		animation: 2650ms linear 1000ms 1 fadeInAndOut;
}

/* animation bubble left extension */
#bubbleHistory::after {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 1.5vw;
		width:  1.5vw;
    left: -0.585vw;
		top: -5.25vh;
    position: relative;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
}

/* animation bubble right */
#bubbleMap {
    background-color: #F2F2F2;
		box-shadow: 0px 0px 6px #B2B2B2;
    border-radius: 5px;
    height: 8vh;
		width:  10vw;
    margin-top: 83.5vh;
		margin-left: 38vw;
		line-height: 8vh;
		text-align: center;
		position: absolute;
		opacity: 0;
		animation: 2650ms linear 1000ms 1 fadeInAndOut;
}

/* animation bubble right extension */
#bubbleMap::after {
    background-color: #F2F2F2;
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 1.5vw;
		width:  1.5vw;
    left: 9.275vw;
		top: -5.25vh;
    position: relative;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
}



/* buttons to change tab */
.buttonTab {
	position: absolute;
	width: 3.75vw;
	height: 7vh;
	margin-top: 84vh;
	opacity: 0;
	animation: 300ms linear 600ms 1 fadeInFromNone;
}

/* button to go to history tab */
#buttonHistory.buttonTab {
	margin-left: -47.65vw;
	background-image: url("images/book.jpg");
  background-size: 3.75vw 7vh;
	border: none;
}

/* button to go to map tab */
#buttonMap.buttonTab {
	margin-left: 47.65vw;
	background-image: url("images/planet.jpg");
  background-size: 3.75vw 7vh;
	border: none;
	border-radius: 50%
}



 /* animation for time slider, search bar, generate data button and flag slider */
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/* time slider */
#slider_container {
	position: absolute;
	top: 76vh;
	left: 35vw;
	width: 30vw;
	height: 5vh;
	float: left;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 1em;
	text-shadow: 0 0 15px black;
	opacity: 0;
	animation: 300ms ease-out 3.70s 1 fadeInFromNone;
}

/* search bar */
#search_bar {
	position: absolute;
	top: 75.2vh;
	left: 11vw;
	width: 13vw;
	background-image: url('https://www.w3schools.com/css/searchicon.png');
	background-position: 1% 50%;
	background-size: 10% 100%;
	background-repeat: no-repeat;
	padding: 0.1vw 1.5vw;
	font-size: 1vw;
	opacity: 0;
	animation: 300ms ease-out 3.70s 1 fadeInFromNone;
}

/* generate data button */
.buttonLoad {
	position: absolute;
	width: 13vw;
	height: 5vh;
	margin-top: 74.2vh;
	margin-left: 32.5vw;
	background-image: url("images/data.jpg");
  background-size: 12.75vw 4.75vh;
	opacity: 0;
	border: 0.1vw solid black;
	animation: 300ms ease-out 3.70s 1 fadeInFromNone;
}

/* flag slider */
.flag-slider {
	overflow: auto;
	white-space: nowrap;
	padding-bottom: 1vh;
	position: absolute;
	top: 80.2vh;
	width: 89.6vw;
  margin: 0 auto;
	opacity: 0;
	animation: 300ms linear 3.70s 1 fadeInFromNone;
}

/* flag slider image shadow effect */
.button-style {
	transition: all 1s ease-out;
	background: rgba(88, 88, 88, 0.5);
	border-radius:50%;
	vertical-align:middle;
	color: #FFF;
	position:absolute;
	font-weight: 700;
	text-align: center;
	font-size: 0.8vw;
	font-family: 'Source Sans Pro', serif;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	display:inline-block;
	text-decoration: none;
	text-transform:uppercase;
}

/* button flag slider idle state */
.button-style:before{
	content: '';
	display: inline-block;
	height: 56%;
	horiz-align:center;
}

/* button flag slider when hovering */
.button-style:hover {
	background: none;
	border: none;
	opacity:0;
}

/* flag in columns */
.square {
	width: 3vw;
	height: 3vw;
	position: relative;
	margin-top: 10%;
}

/* image of flag in columns */
.square img {
	object-fit: cover;
	width: 3vw;
	border-radius:50%;
	height:3vw;
}

/* wrapper of two flags in column */
.wrapper{
	width: 3vw;
	height: 7vw;
	display: inline-block;
	position: relative;
	overflow:hidden;
	margin-top: 1%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}



/* animation for measure/criterion and competition containers and their title div */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* measure/criterion container title */
#measure_title {
	position: absolute;
	text-align: center;
	color: white;
	font-size: 1em;
	text-shadow: 0 0 2px black;
	font-weight: bold;
	width: 23vw;
	height: 3vh;
  line-height: 3vh;
	border: 1px solid red;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	left: 1vw;
	top: 3vh;
	background: rgba(255, 0, 0, 0.6);
	animation: 500ms ease-out 0s 1 slideInFromLeft;
}

/* competition container title */
#competition_title {
	position: absolute;
	text-align: center;
	color: white;
	font-size: 1em;
	text-shadow: 0 0 2px black;
	font-weight: bold;
	width: 23vw;
	height: 3vh;
  line-height: 3vh;
	border: 1px solid yellow;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	left: 1vw;
	top: 39vh;
	background: rgba(255, 255, 0, 0.6);
	animation: 500ms ease-out 0s 1 slideInFromLeft;
}

/* measure/criterion container */
#measure_container {
	position: absolute;
	top: 6vh;
	left: 1vw;
	width: 23vw;
	height: 30vh;
	overflow: auto;
	direction: rtl;
	background: rgba(255, 0, 0, 0.6);
	animation: 500ms ease-out 0s 1 slideInFromLeft;
}

/* competition container */
#competition_container {
	position: absolute;
	top: 42vh;
	left: 1vw;
	width: 23vw;
	height: 30vh;
	overflow: auto;
	direction: rtl;
	background: rgba(255, 255, 0, 0.6);
	animation: 500ms ease-out 0s 1 slideInFromLeft;
}
