
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background: white;

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/


svg {
	margin: 1rem;
	position: absolute;
	width:100%;
	height:80%;
	background-size: 100% 100%;
	background-color: white;
}

#btns {
	position: absolute;
	top: 30%;
	left: 90%;
	width: 8%;
	height: 30%;
	text-align: center;
}

#title {
	position: absolute;
	font-size: 5vw;
	top: 5%;
	vertical-align: middle;
	color:blue;
}

#slider_container {
	position: absolute;
	top: 78.5%;
	left: 35%;
	width: 30%;
	height: 5%;
	float: left;
	text-align: center;
	visibility: hidden;
}

/* FLAG SLIDER STYLE */

/*shadow effect on flags*/
.button-style {
	transition: all 1s ease-out;
	background: rgba(88, 88, 88, 0.5);
	border-radius:50%;
	vertical-align:middle;
	color: #FFF;
	position:absolute;
	font-weight: 700;
	text-align: center;
	font-size: 0.8vw;
	font-family: 'Source Sans Pro', serif;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	display:inline-block;
	text-decoration: none;
	text-transform:uppercase;
}

.button-style:before{
	content: '';
	display: inline-block;
	height: 56%;
	horiz-align:center;
}

.button-style:hover {
	background: none;
	border: none;
	opacity:0;
}

/*one flag*/
.square {
	width: 3vw;
	height: 3vw;
	position: relative;
	margin-top: 10%;
}

.square img {
	object-fit: cover;
	width: 3vw;
	border-radius:50%;
	height:3vw;
}

/*two flags*/
.wrapper{
	width: 3vw;
	height: 7vw;
	display: inline-block;
	position: relative;
	overflow:hidden;
	margin-top: 1%;
	margin-left: 1%;
}

/*flag slider*/
.flag-slider {
	overflow: auto;
	white-space: nowrap;
	padding-bottom: 3px;

	position: absolute;
	top: 79.5%;
	left: 3.75%;
	width: 89.6%;
	margin: 1vw 1vw;
	visibility: hidden;
}

#search_bar {
	position: absolute;
	top: 78.5%;
	left: 5.65%;
	width: 13%;
	/*height: 3%;*/
	background-image: url('https://www.w3schools.com/css/searchicon.png');
	background-position: 1% 50%;
	background-size: 1vw 1vw;
	background-repeat: no-repeat;
	padding: 0.1vw 1.5vw;
	font-size: 1vw;
	visibility: hidden;
}

#measure_container {
	position: absolute;
	top: 40%;
	left: 1%;
	width: 15%;
	height:30%;
	visibility: hidden;
}

#competition_container {
	position: absolute;
	top: 60%;
	left: 1%;
	width: 15%;
	height:30%;
	visibility: hidden;
}

#background {
	background-image: url('history.jpg');
	background-repeat: no-repeat;
}